<% include('utils/variables-safe') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/head') %>
    <title>Admin</title>
</head>
<body>
    <%- include('partial/header', { page: 'admin' }) %>
    
    <%- 
        include('partial/tabs', { tabs: [
            {
                name: 'Users',
                url: '/admin',
            },
            {
                name: 'Create user',
                url: '/admin/create-user',
                active: true
            },
            {
                name: 'Rate limits',
                url: '/admin/rate-limits'
            },
        ]}) 
    %>
    <div class="container">
        <form method="POST" action="/admin/create-user">
            <div>
                <label for="name">Name *</label>
                <input type="text" id="name" name="name" required value="<%- values.name ?? '' %>">
            </div>
            <div>
                <label for="surname">Surname</label>
                <input type="text" id="surname" name="surname" value="<%- values.surname ?? '' %>">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required value="<%- values.email ?? '' %>">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required value="<%- values.password ?? '' %>">
            </div>
            <div>
                <label for="role">Role</label>
                <select name="role" id="role">
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
            <input type="hidden" name="__csrfToken" value="<%= csrfToken %>">
            <button type="submit">Create</button>
        </form>
        <% if (error) { %>
            <p class="error-message"><%= error %></p>
        <% } else if (success) { %>
            <p class="success-message"><%= success %></p>
        <% } %>
    </div>
</body>
</html>