<% include('utils/variables-safe') %>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partial/head') %>
    <title>Urls</title>
</head>

<body>
    <%- include('partial/header', { page: 'urls' }) %>

    <div class="container">
        <%- 
            include('partial/tabs', { tabs: [
                {
                    name: 'Urls',
                    url: '/urls',
                    active: true
                },
                {
                    name: 'Create url',
                    url: '/urls/create'
                }
            ]}) 
        %>
    </div>
    <div class="container table-wrapper">
        <div class="scroll-x">
            <table class="auto-width">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Short url</th>
                        <th>Type</th>
                        <th>Expire</th>
                        <th>Enabled</th>
                        <th class="center" width="100">Visits</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% if (!urls || urls.length === 0) { %>
                        <tr>
                            <td class="center" colspan="8">No urls</td>
                        </tr>
                    <% } %>
                    <% for (const url of urls) { %>
                        <tr>
                            <td>
                                <%= url.name %>
                            </td>
                            <td>
                                <a href="<%= url.url %>" target="_blank">
                                    <%= url.url %>
                                </a>
                            </td>
                            <td class="url-wrapp">
                                <% const link = `${baseUrl}/code/${url.code}` %>
                                <a href="<%= link %>" target="_blank">
                                    <%= link %>
                                </a>
                                <span class="copy" data-copy="<%= link %>"
                                    title="Copy <%= link %> to clipboard ">
                                </span>
                            </td>
                            <td>
                                <%= url.type %>
                            </td>
                            <td>
                                <%= url.expire_time ? new Date(url.expire_time).toLocaleString() : '-' %>
                            </td>
                            <td>
                                <%= url.enabled ? 'Yes' : 'No' %>
                            </td>
                            <td class="center">
                                <%= url.visits %>
                            </td>
                            <td>
                                <a href="/urls/delete/<%= url.id %>">Delete</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="js/urls.js"></script>
</body>

</html>