<% include('utils/variables-safe') %>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partial/head') %>
    <title>Users</title>
</head>

<body>
    <%- include('partial/header', { page: 'users' }) %>

    <div class="container">
        <% if (error) { %>
            <p class="error-message"><%= error %></p>
        <% } else { %>
            <div>
                <h1>Users</h1>
                <table>
                    <thead>
                        <t>
                            <th width="130">Id</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th class="right">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (!users || users.length === 0) { %>
                            <tr>
                                <td class="center" colspan="4">No users</td>
                            </tr>
                        <% } %>
                        <% for (const user of users) { %>
                            <tr>
                                <td>
                                    <%= user.id %>
                                </td>
                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%= user.surname %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= user.role %>
                                </td>
                                <td class="right">
                                    <%= new Date(user.create_time).toLocaleString() %>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        <% } %>
    </div>

    <!-- <script src="js/users.js"></script> -->
</body>

</html>